@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

header {
  border-top: 40px solid #f0dacd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 32px;
}
header > * {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-break {
  width: 10%;
}
.header-logo {
  gap: 10px;
}
.header-h2 {
  font-family: "Roboto Serif", serif;
  font-style: italic;
  font-size: 24px;
  width: 96px;
}

.header-nav {
  gap: 20px;
}

.header-nav > a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

#hero {
  background-color: #f7f2ec;
}

.hero-img {
  width: 100%;
}

#collections {
  background-color: #f7f2ec;
}
.collections-h2 {
  text-align: center;
  font-size: 48px;
  padding: 20px;
}

.collections-p {
  text-align: center;
  font-size: 26px;
}

.container {
  display: flex;
  justify-content: center;
}

.card{
  background-color:white;
  width: 392px;
  height: 510px;
  margin: 30px;
  border-radius: 28px;
}

.card-img {
  background-color: #f7f2ec;
  height: 352px;
  width: 361px;
  margin: 18px;
  border-radius: 30px;
}

.card-h3 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 5px;
}

.card-p {
  text-align: center;
  font-size: 18px;
  width: 300px;
  padding: 0 50px;
}

.card:hover{
  background-color: #f0dacd;
  cursor: pointer;
  transform: scale(1.03)
}
